article{
    display: inline-block;
    width: 370px;
    transition: box-shadow 0.2s ease;
    -webkit-transition: box-shadow 0.2s ease;
    -moz-transition: box-shadow 0.2s ease;
    -ms-transition: box-shadow 0.2s ease;
    -o-transition: box-shadow 0.2s ease;
    margin: 40px 10px 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #fff;
    cursor:pointer
}

article > img{
    width:inherit;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -ms-border-radius:5px 5px 0 0;
    -o-border-radius:5px 5px 0 0;
}

article >p {
    margin:10px 15px;
}

article:hover{
    box-shadow: 0px 3px 5px rgb(0,0,0,0.2)
}